{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "cy": true,
    "Cypress": true
  },
  "plugins": ["emotion"],
  "rules": {
    "import/no-named-as-default": false,
    "react/jsx-one-expression-per-line": false,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js"]
      }
    ],
    "emotion/jsx-import": "error",
    "emotion/no-vanilla": "error",
    "emotion/import-from-emotion": "error",
    "emotion/styled-import": "error"
  }
}
